= render 'header'

section#main-slider.no-margin
  .carousel.slide
    ol.carousel-indicators
      li.active data-slide-to="0" data-target="#main-slider"
      li data-slide-to="1" data-target="#main-slider"
      li data-slide-to="2" data-target="#main-slider"
    .carousel-inner
      .item.active style=("background-image: url(#{image_path('slider/bg1.jpg')})")
        .container
          .row.slide-margin
            .col-sm-6
              .carousel-content
                h1.animation.animated-item-1 Recorre todo el mundo y deja todo en nuestras manos.
                h2.animation.animated-item-2 Te garantizamos que tu viaje sera inolvidable
                a.btn-slide.animation.animated-item-3 href="#"  Leer Mas
            .col-sm-6.hidden-xs.animation.animated-item-4
              .slider-img
                = image_tag('slider/img1.png', class:'img-responsive')
      /! /.item
      .item style=("background-image: url(#{image_path('slider/bg2.jpg')})")
        .container
          .row.slide-margin
            .col-sm-6
              .carousel-content
                h1.animation.animated-item-1 Contamos con todos los servicios de asistencia que necesites.
                h2.animation.animated-item-2 Redes, Wifi, Telefonia Celular, para que contactes con tu familia luego de un largo viaje.
                a.btn-slide.animation.animated-item-3 href="#"  Leer Mas
            .col-sm-6.hidden-xs.animation.animated-item-4
              .slider-img
                = image_tag('slider/img2.png', class:'img-responsive')
      /! /.item
      .item style=("background-image: url(#{image_path('slider/bg3.jpg')})")
        .container
          .row.slide-margin
            .col-sm-6
              .carousel-content
                h1.animation.animated-item-1 Ubicacion Privilegiada dentro del Aereopuerto Simon Bolivar de Vemezuela.
                h2.animation.animated-item-2 Dos oficinas acondicionadas para recibirte y ofrecerte el mejor servicio que se pueda esperar.
                a.btn-slide.animation.animated-item-3 href="#"  Leer Mas
            .col-sm-6.hidden-xs.animation.animated-item-4
              .slider-img
                = image_tag('slider/img3.png', class:'img-responsive')
      /! /.item
    /! /.carousel-inner
  /! /.carousel
  a.prev.hidden-xs data-slide="prev" href="#main-slider"
    i.fa.fa-chevron-left
  a.next.hidden-xs data-slide="next" href="#main-slider"
    i.fa.fa-chevron-right
/! /#main-slider
section#feature
  .container
    .center.wow.fadeInDown
      h2 Servicios
      p.lead
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
        br/
        | et dolore magna aliqua. Ut enim ad minim veniam
    .row
      .features
        .col-md-4.col-sm-6.wow.fadeInDown data-wow-delay="600ms" data-wow-duration="1000ms"
          .feature-wrap
            i.fa.fa-child
            h2 Asistencias
            h3 Te ayudamos con cualquier percanse durante tu viaje
        /! /.col-md-4
        .col-md-4.col-sm-6.wow.fadeInDown data-wow-delay="600ms" data-wow-duration="1000ms"
          .feature-wrap
            i.fa.fa-shield
            h2 Seguridad
            h3 Seremos tu angel guardian durante tu preciado viaje.
        /! /.col-md-4
        .col-md-4.col-sm-6.wow.fadeInDown data-wow-delay="600ms" data-wow-duration="1000ms"
          .feature-wrap
            i.fa.fa-bus
            h2 Translados
            h3 Al hotel, tu conexion, City Tours, a donde necesites ir.
        /! /.col-md-4
        .col-md-4.col-sm-6.wow.fadeInDown data-wow-delay="600ms" data-wow-duration="1000ms"
          .feature-wrap
            i.fa.fa-wheelchair
            h2 Asistencia Especial
            h3 Apoyo a personas con movilidad reducidad o de tercera edad.
        /! /.col-md-4
        .col-md-4.col-sm-6.wow.fadeInDown data-wow-delay="600ms" data-wow-duration="1000ms"
          .feature-wrap
            i.fa.fa-map-marker
            h2 Ubicacion
            h3 Persencia en los Aereopuertos Nacional, Auxilia e Internacional.
        /! /.col-md-4
        .col-md-4.col-sm-6.wow.fadeInDown data-wow-delay="600ms" data-wow-duration="1000ms"
          .feature-wrap
            i.fa.fa-credit-card
            h2 Check-In
            h3 Chequeo de boletos en vuelos en conexion de forma rapida.
        /! /.col-md-4
      /! /.services
    /! /.row
  /! /.container
/! /#feature
/ section#recent-works
/   .container
/     .center.wow.fadeInDown
/       h2 Recent Works
/       p.lead
/         | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
/         br/
/         | et dolore magna aliqua. Ut enim ad minim veniam
/     .row
/       .col-xs-12.col-sm-4.col-md-3
/         .recent-work-wrap
/           img.img-responsive alt="" src="images/portfolio/recent/item1.png" /
/           .overlay
/             .recent-work-inner
/               h3
/                 a href="#"  Business theme
/               p There are many variations of passages of Lorem Ipsum available, but the majority
/               a.preview href="images/portfolio/full/item1.png" rel="prettyPhoto"
/                 i.fa.fa-eye
/                 | View
/       .col-xs-12.col-sm-4.col-md-3
/         .recent-work-wrap
/           img.img-responsive alt="" src="images/portfolio/recent/item2.png" /
/           .overlay
/             .recent-work-inner
/               h3
/                 a href="#"  Business theme
/               p There are many variations of passages of Lorem Ipsum available, but the majority
/               a.preview href="images/portfolio/full/item2.png" rel="prettyPhoto"
/                 i.fa.fa-eye
/                 | View
/       .col-xs-12.col-sm-4.col-md-3
/         .recent-work-wrap
/           img.img-responsive alt="" src="images/portfolio/recent/item3.png" /
/           .overlay
/             .recent-work-inner
/               h3
/                 a href="#"  Business theme
/               p There are many variations of passages of Lorem Ipsum available, but the majority
/               a.preview href="images/portfolio/full/item3.png" rel="prettyPhoto"
/                 i.fa.fa-eye
/                 | View
/       .col-xs-12.col-sm-4.col-md-3
/         .recent-work-wrap
/           img.img-responsive alt="" src="images/portfolio/recent/item4.png" /
/           .overlay
/             .recent-work-inner
/               h3
/                 a href="#"  Business theme
/               p There are many variations of passages of Lorem Ipsum available, but the majority
/               a.preview href="images/portfolio/full/item4.png" rel="prettyPhoto"
/                 i.fa.fa-eye
/                 | View
/       .col-xs-12.col-sm-4.col-md-3
/         .recent-work-wrap
/           img.img-responsive alt="" src="images/portfolio/recent/item5.png" /
/           .overlay
/             .recent-work-inner
/               h3
/                 a href="#"  Business theme
/               p There are many variations of passages of Lorem Ipsum available, but the majority
/               a.preview href="images/portfolio/full/item5.png" rel="prettyPhoto"
/                 i.fa.fa-eye
/                 | View
/       .col-xs-12.col-sm-4.col-md-3
/         .recent-work-wrap
/           img.img-responsive alt="" src="images/portfolio/recent/item6.png" /
/           .overlay
/             .recent-work-inner
/               h3
/                 a href="#"  Business theme
/               p There are many variations of passages of Lorem Ipsum available, but the majority
/               a.preview href="images/portfolio/full/item6.png" rel="prettyPhoto"
/                 i.fa.fa-eye
/                 | View
/       .col-xs-12.col-sm-4.col-md-3
/         .recent-work-wrap
/           img.img-responsive alt="" src="images/portfolio/recent/item7.png" /
/           .overlay
/             .recent-work-inner
/               h3
/                 a href="#"  Business theme
/               p There are many variations of passages of Lorem Ipsum available, but the majority
/               a.preview href="images/portfolio/full/item7.png" rel="prettyPhoto"
/                 i.fa.fa-eye
/                 | View
/       .col-xs-12.col-sm-4.col-md-3
/         .recent-work-wrap
/           img.img-responsive alt="" src="images/portfolio/recent/item8.png" /
/           .overlay
/             .recent-work-inner
/               h3
/                 a href="#"  Business theme
/               p There are many variations of passages of Lorem Ipsum available, but the majority
/               a.preview href="images/portfolio/full/item8.png" rel="prettyPhoto"
/                 i.fa.fa-eye
/                 | View
/     /! /.row
/   /! /.container
/ /! /#recent-works
/ section#services.service-item
/   .container
/     .center.wow.fadeInDown
/       h2 Our Service
/       p.lead
/         | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
/         br/
/         | et dolore magna aliqua. Ut enim ad minim veniam
/     .row
/       .col-sm-6.col-md-4
/         .media.services-wrap.wow.fadeInDown
/           .pull-left
/             img.img-responsive src="images/services/services1.png" /
/           .media-body
/             h3.media-heading SEO Marketing
/             p Lorem ipsum dolor sit ame consectetur adipisicing elit
/       .col-sm-6.col-md-4
/         .media.services-wrap.wow.fadeInDown
/           .pull-left
/             img.img-responsive src="images/services/services2.png" /
/           .media-body
/             h3.media-heading SEO Marketing
/             p Lorem ipsum dolor sit ame consectetur adipisicing elit
/       .col-sm-6.col-md-4
/         .media.services-wrap.wow.fadeInDown
/           .pull-left
/             img.img-responsive src="images/services/services3.png" /
/           .media-body
/             h3.media-heading SEO Marketing
/             p Lorem ipsum dolor sit ame consectetur adipisicing elit
/       .col-sm-6.col-md-4
/         .media.services-wrap.wow.fadeInDown
/           .pull-left
/             img.img-responsive src="images/services/services4.png" /
/           .media-body
/             h3.media-heading SEO Marketing
/             p Lorem ipsum dolor sit ame consectetur adipisicing elit
/       .col-sm-6.col-md-4
/         .media.services-wrap.wow.fadeInDown
/           .pull-left
/             img.img-responsive src="images/services/services5.png" /
/           .media-body
/             h3.media-heading SEO Marketing
/             p Lorem ipsum dolor sit ame consectetur adipisicing elit
/       .col-sm-6.col-md-4
/         .media.services-wrap.wow.fadeInDown
/           .pull-left
/             img.img-responsive src="images/services/services6.png" /
/           .media-body
/             h3.media-heading SEO Marketing
/             p Lorem ipsum dolor sit ame consectetur adipisicing elit
/     /! /.row
/   /! /.container
/ /! /#services
/ section#middle
/   .container
/     .row
/       .col-sm-6.wow.fadeInDown
/         .skill
/           h2 Our Skills
/           p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
/           .progress-wrap
/             h3 Graphic Design
/             .progress
/               .progress-bar.color1 aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" style=("width: 85%")
/                 span.bar-width 85%
/           .progress-wrap
/             h3 HTML
/             .progress
/               .progress-bar.color2 aria-valuemax="100" aria-valuemin="0" aria-valuenow="20" role="progressbar" style=("width: 95%")
/                 span.bar-width 95%
/           .progress-wrap
/             h3 CSS
/             .progress
/               .progress-bar.color3 aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" style=("width: 80%")
/                 span.bar-width 80%
/           .progress-wrap
/             h3 Wordpress
/             .progress
/               .progress-bar.color4 aria-valuemax="100" aria-valuemin="0" aria-valuenow="80" role="progressbar" style=("width: 90%")
/                 span.bar-width 90%
/       /! /.col-sm-6
/       .col-sm-6.wow.fadeInDown
/         .accordion
/           h2 Why People like us?
/           #accordion1.panel-group
/             .panel.panel-default
/               .panel-heading.active
/                 h3.panel-title
/                   a.accordion-toggle data-parent="#accordion1" data-toggle="collapse" href="#collapseOne1"
/                     | Lorem ipsum dolor sit amet
/                     i.fa.fa-angle-right.pull-right
/               #collapseOne1.panel-collapse.collapse.in
/                 .panel-body
/                   .media.accordion-inner
/                     .pull-left
/                       img.img-responsive src="images/accordion1.png" /
/                     .media-body
/                       h4 Adipisicing elit
/                       p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore
/             .panel.panel-default
/               .panel-heading
/                 h3.panel-title
/                   a.accordion-toggle data-parent="#accordion1" data-toggle="collapse" href="#collapseTwo1"
/                     | Lorem ipsum dolor sit amet
/                     i.fa.fa-angle-right.pull-right
/               #collapseTwo1.panel-collapse.collapse
/                 .panel-body
/                   | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
/             .panel.panel-default
/               .panel-heading
/                 h3.panel-title
/                   a.accordion-toggle data-parent="#accordion1" data-toggle="collapse" href="#collapseThree1"
/                     | Lorem ipsum dolor sit amet
/                     i.fa.fa-angle-right.pull-right
/               #collapseThree1.panel-collapse.collapse
/                 .panel-body
/                   | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
/             .panel.panel-default
/               .panel-heading
/                 h3.panel-title
/                   a.accordion-toggle data-parent="#accordion1" data-toggle="collapse" href="#collapseFour1"
/                     | Lorem ipsum dolor sit amet
/                     i.fa.fa-angle-right.pull-right
/               #collapseFour1.panel-collapse.collapse
/                 .panel-body
/                   | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor.
/           /! /#accordion1
/     /! /.row
/   /! /.container
/ /! /#middle
/ section#content
/   .container
/     .row
/       .col-xs-12.col-sm-8.wow.fadeInDown
/         .tab-wrap
/           .media
/             .parrent.pull-left
/               ul.nav.nav-tabs.nav-stacked
/                 li
/                   a.analistic-01 data-toggle="tab" href="#tab1"  Responsive Web Design
/                 li.active
/                   a.analistic-02 data-toggle="tab" href="#tab2"  Premium Plugin Included
/                 li
/                   a.tehnical data-toggle="tab" href="#tab3"  Predefine Layout
/                 li
/                   a.tehnical data-toggle="tab" href="#tab4"  Our Philosopy
/                 li
/                   a.tehnical data-toggle="tab" href="#tab5"  What We Do?
/             .parrent.media-body
/               .tab-content
/                 #tab1.tab-pane.fade
/                   .media
/                     .pull-left
/                       img.img-responsive src="images/tab2.png" /
/                     .media-body
/                       h2 Adipisicing elit
/                       p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.
/                 #tab2.tab-pane.fade.active.in
/                   .media
/                     .pull-left
/                       img.img-responsive src="images/tab1.png" /
/                     .media-body
/                       h2 Adipisicing elit
/                       p
/                         | There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use.
/                 #tab3.tab-pane.fade
/                   p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit.
/                 #tab4.tab-pane.fade
/                   p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words
/                 #tab5.tab-pane.fade
/                   p There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures,
/               /! /.tab-content
/             /! /.media-body
/           /! /.media
/         /! /.tab-wrap
/       /! /.col-sm-6
/       .col-xs-12.col-sm-4.wow.fadeInDown
/         .testimonial
/           h2 Testimonials
/           .media.testimonial-inner
/             .pull-left
/               img.img-responsive.img-circle src="images/testimonials1.png" /
/             .media-body
/               p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
/               span
/                 strong -John Doe/
/                 | Director of corlate.com
/           .media.testimonial-inner
/             .pull-left
/               img.img-responsive.img-circle src="images/testimonials1.png" /
/             .media-body
/               p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
/               span
/                 strong -John Doe/
/                 | Director of corlate.com
/     /! /.row
/   /! /.container
/ /! /#content
/ section#partner
/   .container
/     .center.wow.fadeInDown
/       h2 Our Partners
/       p.lead
/         | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
/         br/
/         | et dolore magna aliqua. Ut enim ad minim veniam
/     .partners
/       ul
/         li
/           a href="#"
/             img.img-responsive.wow.fadeInDown data-wow-delay="300ms" data-wow-duration="1000ms" src="images/partners/partner1.png" /
/         li
/           a href="#"
/             img.img-responsive.wow.fadeInDown data-wow-delay="600ms" data-wow-duration="1000ms" src="images/partners/partner2.png" /
/         li
/           a href="#"
/             img.img-responsive.wow.fadeInDown data-wow-delay="900ms" data-wow-duration="1000ms" src="images/partners/partner3.png" /
/         li
/           a href="#"
/             img.img-responsive.wow.fadeInDown data-wow-delay="1200ms" data-wow-duration="1000ms" src="images/partners/partner4.png" /
/         li
/           a href="#"
/             img.img-responsive.wow.fadeInDown data-wow-delay="1500ms" data-wow-duration="1000ms" src="images/partners/partner5.png" /
/   /! /.container
/ /! /#partner
/ section#conatcat-info
/   .container
/     .row
/       .col-sm-8
/         .media.contact-info.wow.fadeInDown data-wow-delay="600ms" data-wow-duration="1000ms"
/           .pull-left
/             i.fa.fa-phone
/           .media-body
/             h2 Have a question or need a custom quote?
/             p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation +0123 456 70 80
/   /! /.container
/ /! /#conatcat-info
/ section#bottom
/   .container.wow.fadeInDown data-wow-delay="600ms" data-wow-duration="1000ms"
/     .row
/       .col-md-3.col-sm-6
/         .widget
/           h3 Company
/           ul
/             li
/               a href="#"  About us
/             li
/               a href="#"  We are hiring
/             li
/               a href="#"  Meet the team
/             li
/               a href="#"  Copyright
/             li
/               a href="#"  Terms of use
/             li
/               a href="#"  Privacy policy
/             li
/               a href="#"  Contact us
/       /! /.col-md-3
/       .col-md-3.col-sm-6
/         .widget
/           h3 Support
/           ul
/             li
/               a href="#"  Faq
/             li
/               a href="#"  Blog
/             li
/               a href="#"  Forum
/             li
/               a href="#"  Documentation
/             li
/               a href="#"  Refund policy
/             li
/               a href="#"  Ticket system
/             li
/               a href="#"  Billing system
/       /! /.col-md-3
/       .col-md-3.col-sm-6
/         .widget
/           h3 Developers
/           ul
/             li
/               a href="#"  Web Development
/             li
/               a href="#"  SEO Marketing
/             li
/               a href="#"  Theme
/             li
/               a href="#"  Development
/             li
/               a href="#"  Email Marketing
/             li
/               a href="#"  Plugin Development
/             li
/               a href="#"  Article Writing
/       /! /.col-md-3
/       .col-md-3.col-sm-6
/         .widget
/           h3 Our Partners
/           ul
/             li
/               a href="#"  Adipisicing Elit
/             li
/               a href="#"  Eiusmod
/             li
/               a href="#"  Tempor
/             li
/               a href="#"  Veniam
/             li
/               a href="#"  Exercitation
/             li
/               a href="#"  Ullamco
/             li
/               a href="#"  Laboris
/       /! /.col-md-3
/ /! /#bottom
footer#footer.midnight-blue
  .container
    .row
      .col-sm-6
        | &copy; 2015 Vargas Five Stars, CA
        |  Todos los derechos reservados.
      .col-sm-6
        ul.pull-right
          li
            a href="#"  Inicio
          li
            a href="#"  Sobre Nosotros
          li
            a href="#"  Preguntas Frecuentes
          li
            a href="#"  Contacto
/! /#footer
